.discover {
  min-width: 1080px;
  width: 1080px;
  height: 1141px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  background: rgb(109, 109, 109)
}

.discover-top {
  display:block;
  padding-top: 50px;
}