.discover {
  min-width: 1080px;
  width: 1080px;
  height: 1141px;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  // padding: 0 30px;
  font-family: 'Open Sans', sans-serif;
  // min-width: 920px;
  background: blue;
}