.navbar-parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    background-color: #333;
    z-index: 9999;
}

.black {
    background-color: black;
}

.navbar-right-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar {
    display: flex;
    justify-content: center;
    top: 0;
    // width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 46px;
    width: 1080px;
    background-color: #333;
    color: rgb(204, 204, 204);
    font-family: sans-serif;
    font-size: 14px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar-upload-link {
    color: rgb(201, 201, 201);
    
}

.navbar-upload-link:hover {
    color: rgb(247, 243, 243)
}

.navbar-logo-li {
    padding: 11px 11px;
    background: rgb(167,75,0);
    background: linear-gradient(45deg, rgba(167,75,0,1) 16%, rgba(196,79,0,1) 35%, rgba(221,90,0,1) 60%, rgba(255,85,0,1) 95%);
}

.upgrade a {
    color: #ff5500;
    cursor: pointer;
}

.upgrade a:hover{
    color:#ff8041
}

.navbar-display-name {
    // word-spacing: 9px;
    padding-left: 10px;
    cursor: pointer;
}

.navbar-left {
    display: flex;
    width:380px;
    align-items: center;
    // margin-right: 26px;
}

.profile-pic {
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

.navbar-options{
    width: 46px;
    background: transparent;
    color: #cccccc;
    border: transparent;
}

.option-dropdown {
    position: relative;
    display: flex;
    
}

.navbar-user {
    cursor: pointer;
}


.navbar-ellipsis {
    font-size: 22px;
    cursor: pointer;
}

.navbar-signin {
    margin-right: 7px;
    background: transparent;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    // font-size: 16px;
    padding: 2px 11px 2px 10px;
    
}

.navbar-search {
    padding-right: 10px;
    width: 320px;
    padding-left: 10px;
    margin-top: 7px;
    position: relative;
}

.navbar-search-input {
    width: 330px;
    height: 26px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: lightgray
}

.navbar-signin:hover {
    border-color: #e5e5e5;
}

.navbar-search-button {
    position: absolute;
    top: 7px;
    right: 1px;
    background: transparent;
    border: transparent;
    display: none;
}

.navbar-left a {
    color: rgb(201, 201, 201);
}

.navbar-left a:hover {
    color: rgb(247, 243, 243)
}

.navbar-linkedin {
    border-right: 1px solid black;
}

.navbar-github {
    border-right: 1px solid black; 
}

.navbar-mdn {
    border-right: 1px solid black;
}

.navbar-linkedin, .navbar-github, .navbar-mdn {
    display: block;
    padding: 12px 0;
    width: 104px;
    height: 46px;
    border-right: 1px solid #111;
    box-sizing: border-box;
    text-align: center;
    
}

.navbar-linkedin {
    width: 104px;
}

.navbar-github {
    width: 104px;
}

.navbar-right-links {
    display: flex;
    align-items: center;
    width: 402.7px;
    justify-content: space-around;
}

.user-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}

.user-dropdown-content {
    position: absolute;
    top: 23px;
    background: white;
    right: -5px;
    font-size: 14px;
    font-weight: 900;
    display: flex;
    align-items: center;
    height: auto;
    width: 140px;
    flex-direction: column;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

.user-dropdown-content a {
    color: gray;
    margin: 5px;
}

.user-dropdown-li {
    background: black;
}

.navbar-ellipsis-dropdown {
    height: 100%;
    
}

.navbar-ellipsis-dropdown .nav-dropbtn {
    font-size: 22px;
    height: 100%;
    padding: 0px;
    cursor: pointer;
};

.nav-dropbtn:focus {
    background-color: black;
}

.navbar-ellipsis-content {
    display:none;
    position: absolute;
    background-color: white;
    height: auto;
}

navbar-ellipsis-content button {
    padding: 0;
}
.navbar-ellipsis-content * {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: transparent;
    border: none;
    color: gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

.navbar button:focus {
    outline: 0;
}
 
.navbar-upload-div {
    height: 46px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 65px;
}

