html {
   background-color: rgb(240, 240, 240);
}

.splash {
  background: white;
  width: 1240px;
  height: auto;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  min-width: 1240px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.splash-banner {
    background-image: image-url('banner2.jpg');
    height: 400px;
    background-size: 100% 100%;
    
}

.splash-banner-left svg {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  margin-bottom: 20px;
}

.splash-upper-orange {
    color: #fff;
    position: relative;
    overflow: hidden;
    border-top: 4px solid #f50;
    background-color: #666;
    -webkit-font-smoothing: antialiased;

}

.splash-banner-center {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  margin-top: 44px;
}

.splash-banner-header {
  font-size: 36px;
  color: white;
}

.splash-banner-header-p {
  font-size: 18px;
  width: 530px;
  margin-left: 170px;
  margin-top: 15px;
  color: white;
}

.creator {
  margin-right: 7px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}
.creator-free {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 40px;
}

.try-free {
    width: 200px;
    height: 40px;
    background: #ff5500;
    border: 1px solid #ff5500;
    border-radius: 3px;
    font-size: 18px;
    font-weight: inherit;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

.splash-navbar {
  padding: 0px 20px;
}

.splash-banner-right {
  height: 50px;
}

.splash-banner-right button {
  float: right;
}

.splash-banner-right img {
  float: left;
  height: 30px;
}

.splash-login {
  width: 74px;
  margin-top: 16px;
  height: 30px;
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 14px;
  font-weight: inherit;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}


.splash-signup {
  width: 135px;
  height: 30px;
  background: #ff5500;
  border: 1px solid #ff5500;
  border-radius: 3px;
  font-size: 14px;
  font-weight: inherit;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  white-space: nowrap;
}

.splash-middle-mobile {
  width: 1240px;
  height: 390px;
  padding: 0px 70px;
  display: flex;
   background-color: rgb(240, 240, 240);
  padding-top: 10px;
}

.mobile-pic {
  background-image: image-url('splash_image3.jpg');
  width: 724px;
  height: 390px;
  
}

.mobile-right h1 {
  font-size: 35px;
}

.mobile-right {
  padding-left: 40px;
  width: 406px;
  padding-top: 30px;
  height: 361px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(240, 240, 240);
}

.mobile-right span {
  font-size: 24px;
  margin-bottom: 70px;
  line-height: 1cm;
}

.mobile-right-border {
  height: 4px;
  width: 70px;
  background: linear-gradient(90deg,#7d01a1,#f30 50%,#f50);
}


.calling-creators {
  background-image: image-url('splash_image2.jpg');
  width: 1240px;
  height: 350px;
  position: relative;
}

.creators-wrapper {
  max-width: 520px;
  height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 60px;
  line-height: 1cm;
}

.creators-wrapper h1 {
  font-size: 36px;
}

.creators-wrapper p {
  font-size: 24px;
}

.find-out-wrapper button {
  font-size: 18px;
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  font-weight: inherit;
  color: white;
  cursor: pointer;
  padding: 13px 24px;
}

.splash-bottom {
  width: 1240px; 
  height: 310px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.splash-bottom h1 {
  font-size: 36px;
  
}

.splash-bottom h2 {
  font-size: 24px;
  margin-top: 15px;
}

.splash-bottom-wrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.splash-signup-bottom {
    margin-top: 20px;
    width: 200px;
    height: 46px;
    background: #ff5500;
    border: 1px solid #ff5500;
    border-radius: 3px;
    font-size: 18px;
    font-weight: inherit;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    padding: 13px 23px;
    margin-bottom: 10px;
}

.splash-bottom-login-wrapper {
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
}

.splash-bottom-login-wrapper p {
  font-size: 12px;
}

.splash-bottom-login-wrapper button {
  width: 80px;
  margin-top: 16px;
  height: 40px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 3px;
  font-size: 16px;
  font-weight: inherit;
  color: black;
  cursor: pointer;
  background-color: white;
  margin-left: 10px;
  padding: 10px 15px;
  white-space: nowrap;
  margin-right: 10px;
}

.splash-footer {
  width: 1180px;
  height: 78px;
  font-size: 14px;
  padding-left: 40px;
  border-top: 1px solid rgb(240, 240, 240);
  display: flex;
  justify-content: flex-start;
  
}

.splash-footer a {
  padding-top: 10px;
  color: rgb(204, 204, 204)
}

.splash-footer a:last-child {
  padding-left: 5px;
}