.profile-main {
  min-width: 1240px;
  width: 1240px;
  height: 1141px;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  
  font-family: 'Open Sans', sans-serif;
  min-width: 920px;
  background: gray;
}

.profile-pic-top {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.profile-song-img {
    width: 160px;
    height: 160px;
}